   <!-- Arrow Button -->
          <button
            class="relative @@min-w @@min-h bg-text-light rounded-full overflow-hidden group/icon transition rotate-45 cursor-pointer"
            aria-label="Go to details">
            <!-- Outgoing Icon -->
            <i class="fa fa-arrow-right -rotate-90 absolute top-1/2 left-1/2 font-thin text-2xl -translate-x-1/2 -translate-y-1/2
              transition-all duration-900
              group-hover/icon:-translate-y-16 group-hover/icon:opacity-0" aria-hidden="true"></i>

            <!-- Incoming Icon -->
            <i class="fa fa-arrow-right -rotate-90 absolute @@bottom-top left-1/2 font-normal text-2xl
              -translate-x-1/2 translate-y-16 opacity-0
              transition-all duration-900
              group-hover/icon:translate-y-0 group-hover/icon:opacity-100" aria-hidden="true"></i>
          </button>
