<div class="flex flex-col gap-4 max-w-[790px]">
<h4
  class="text-[12px] @@bg-color px-3 py-[2px]   inline-block w-fit transform skew-x-[-20deg] @@skewRotate shadow-md custom-before">
  <span class="inline-block transform text-sm font-medium leading-[24px] skew-x-[12deg] @@text-color">@@skewText</span>
</h4>
  <h1 class="text-3xl md:text-6xl md:leading-[72px] font-semibold tracking-tight  ">@@title</h1>
  <p class="text-[18px] max-w-[600px]   leading-[31px] tracking-wide">@@subtitle</p>
</div>

<style>
p, h1, h4 {
  display: block;
}

p:empty, h1:empty, h4:empty {
  display: none;
}
.custom-before {
  position: relative;
}
.custom-before::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  width: 10px;
  height: 12px;
  background: #fff;
  transform: rotate(135deg);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
</style>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('p, h1, h4').forEach(el => {
    if (!el.textContent.trim()) {
      el.style.display = 'none';
    }
  });
});
</script>
