<div class="flex flex-col items-center text-center">
  <h4
    class="text-[12px] @@bg-color @@padding inline-block w-fit transform skew-x-[-20deg] @@skewRotate shadow-md custom-before">
    <span class="inline-block transform text-sm font-medium leading-[24px] skew-x-[12deg] text-text-dark">@@skewText</span>
  </h4>
 <div class="flex flex-col gap-4">
    <h1 class="text-5xl md:text-[80px] md:leading-[92px] font-semibold tracking-[-2px] opacity-[1]">@@title</h1>
  <p class="text-xl mx-auto md:max-w-[670px] leading-[34px]">@@subtitle</p>
 </div>
</div>
