<section class="section-sm">
  <div class="container md:p-10 rounded-3xl border border-gray-800 md:h-[480px] relative overflow-hidden">

    <!-- Background with animation -->
    <div class="absolute inset-0 bg-cover bg-center animate-bgZoom" style="background-image: url('images/ai-bg.svg'); z-index: 0;"></div>

    <!-- Content on top -->
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-center p-5 md:p-10 h-full">

      <!-- Left Content -->
      <div class="flex-1 md:max-w-[520px] flex flex-col justify-center items-start text-left">
        <h2 class="md:text-5xl font-normal">Ready to transform your business with AI?</h2>
        <p class="text-[14px] md:max-w-[420px] my-6">Discover how Optivus can help you drive innovation, streamline operations, and achieve your goals.</p>
        <button class="px-5 py-4 rounded-2xl text-lg font-semibold text-gray-800 bg-[#C4FC00] hover:bg-lime-300"
          target="_blank" rel="noopener noreferrer">
          Get Started Now
        </button>
      </div>

      <!-- Right Cards -->
      <div class="flex-1 flex flex-row items-end justify-center md:justify-end gap-5 md:gap-10 mt-10 md:mt-0">
        <!-- Card 1 -->
        <div class="relative w-[110px] md:w-[142px] h-[114px] bg-[#2E85FA] rounded-3xl flex flex-col justify-end shadow-lg overflow-hidden">
          <div class="absolute top-3 left-1/2 -translate-x-1/2 w-24 h-3 bg-black rounded-3xl"></div>
          <div class="mb-4 text-center">
            <h3 class="text-[36px] font-normal text-gray-800">30%</h3>
            <p class="text-sm text-gray-600">Cost Saving</p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="relative w-[110px] md:w-[142px] h-[285px] bg-[#70DB80] rounded-3xl flex flex-col justify-end text-white shadow-lg overflow-hidden">
          <div class="absolute top-3 left-1/2 -translate-x-1/2 w-24 h-3 bg-black rounded-3xl"></div>
          <div class="mb-4 text-center">
            <h3 class="text-[36px] font-normal text-gray-800">75%</h3>
            <p class="text-sm text-gray-600">Success Rate</p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="relative w-[110px] md:w-[142px] h-[380px] bg-[#FDE44B] rounded-3xl flex flex-col justify-end text-white shadow-lg overflow-hidden">
          <div class="absolute top-3 left-1/2 -translate-x-1/2 w-24 h-3 bg-black rounded-3xl"></div>
          <div class="mb-4 text-center">
            <h3 class="text-[36px] font-normal text-gray-800">10k+</h3>
            <p class="text-sm text-gray-600">Deployments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
