<section class="section-sm pb-[120px]">
  <div class="container rounded-4xl border border-border relative overflow-hidden">

  <!-- Background with animation -->
<div class="absolute inset-0 bg-cover bg-center animate-bgzoom" style="background-image: url('images/ai-bg.svg'); z-index: 0;">
  <!-- Light white overlay -->
  <div class="absolute inset-0 bg-white/40 opacity-5"></div>
</div>


    <!-- Content on top -->
    <div class="relative z-10 flex flex-col lg:flex-row gap-20 md:gap-20 lg:gap-0 items-center justify-between md:p-[60px] p-8">

      <!-- Left Content -->
      <div class="flex flex-col gap-6 max-w-[500px] text-center lg:text-left">
        <div class="flex flex-col gap-4">
          <h2 class="text-3xl md:text-5xl leading-9 md:leading-[58px] font-semibold tracking-[-1.5px] opacity-[1]">Ready to transform your business with AI?</h2>
        <p class="text-lg leading-6 md:leading-[31px]">Discover how Optivus can help you drive innovation, streamline operations, and achieve your goals.</p>
        </div>
        <div class="">
          <button type="button"
            class="inline-block px-6 py-3 rounded-[14px] text-base text-text-dark bg-btn-primary leading-[27px] font-semibold cursor-pointer"
            target="_blank" rel="noopener noreferrer">
            Get Started Now
          </button>
        </div>
      </div>

      <!-- Right Cards -->
      <div class="flex flex-row gap-6 items-end">
        <!-- Card 1 -->
        <div class="card h-[114px] bg-[#2E85FA]">
         <div class="px-[5px] pb-4 flex flex-col justify-between">
           <div class="card-bar"></div>
          <div class="flex flex-col items-center">
            <h3 class="card-heading">30%</h3>
            <p class="card-sub">Cost Saving</p>
          </div>
         </div>
        </div>

      <!-- Card 2 -->
      <div class="card h-[285px] bg-[#70DB80]">
        <div class="px-[5px] pb-4 flex flex-col justify-between">
          <div class="card-bar"></div>
          <div class="flex flex-col items-center">
            <h3 class="card-heading">75%</h3>
            <p class="card-sub">Success Rate</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card h-[380px] bg-[#FDE44B]">
        <div class="px-[5px] pb-4 flex flex-col justify-between">
          <div class="card-bar"></div>
          <div class="flex flex-col items-center">
            <h3 class="card-heading">10k+</h3>
            <p class="card-sub">Deployments</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
