*{
  @apply box-border;
}
html {
  /* Keyword values */
scroll-behavior: auto;
scroll-behavior: smooth;
  @apply text-base-sm md:text-base antialiased;
}

body {
 font-family: 'Rethink Sans', sans-serif;
  @apply bg-body font-primary font-normal tracking-normal text-text opacity-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-medium text-text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2 font-semibold;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3 font-normal;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}
p{
  @apply opacity-80 font-normal tracking-normal text-text-dark;
}

blockquote > p {
  @apply my-0!;
}
