/* section style */
.section {
  @apply pt-[140px] pb-[60px] px-[30px];
}

.section-sm {
  @apply pt-[100px] pb-[60px] px-[30px];
}

/* container */
.container {
  @apply mx-auto xl:!max-w-[1280px];
}
.header-text{
@apply md:text-[116px]   font-medium md:leading-[116px] tracking-[-2px]
}
/* glow layer */
.glow-layer{
 @apply pointer-events-none absolute -translate-x-1/2 -translate-y-1/2 rotate-[19deg] w-[400px] h-[200px] bg-white/15 blur-3xl rounded-full z-0}

.card-header{
@apply  text-[24px] leading-[34px] font-medium tracking-[-0.5px];
}

/* Image brand css */
.brand-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px 27px;
  row-gap: 32px;
}

/* Image styles same */
.brand-logo {
  display: block;
  width: 165px;
  height: 32px;
  object-fit: contain;
  object-position: 50% 50%;
  font-size: 12px;
  aspect-ratio: auto;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
}

/* Vertical line separator */
.brand-separator {
  display: none;
}
@media (min-width: 768px) {
  .brand-separator {
    display: block;
    position: absolute;
    left: -13.5px;
    height: 20px;
    width: 1px;
    background-color: rgba(156, 163, 175, 0.3);
  }
}
/* <!-- Floating animation keyframe --> */
    @keyframes float {

            0%,
            100% {
              transform: translate(0, 0);
            }

            50% {
              transform: translate(8px, 8px);
            }
          }


/* Ready to transform your business with AI? part css */
@keyframes horizontalExpand {
  0%, 100% {
    transform: scaleX(0.90); /* start from slightly narrower */
  }
  50% {
    transform: scaleX(1.04); /* grow beyond full width */
  }
}

.animate-horizontal-expand {
  animation: horizontalExpand 25s ease-in-out infinite;
  transform-origin: center;
}