<section class="pt-[48px] pb-[100px]">
  <div class="container">
    <div class="brand-wrapper">
      <img src="images/brands/brand1.svg" alt="Brand Logo" class="brand-logo" />

      <div class="flex items-center relative px-7">
        <div class="brand-separator"></div>
        <img src="images/brands/brand2.svg" alt="Brand Logo" class="brand-logo" />
      </div>

      <div class="flex items-center relative px-7">
        <div class="brand-separator"></div>
        <img src="images/brands/brand3.svg" alt="Brand Logo" class="brand-logo" />
      </div>

      <div class="flex items-center relative px-7">
        <div class="brand-separator"></div>
        <img src="images/brands/brand4.svg" alt="Brand Logo" class="brand-logo" />
      </div>

      <div class="flex items-center relative px-7">
        <div class="brand-separator"></div>
        <img src="images/brands/brand5.svg" alt="Brand Logo" class="brand-logo" />
      </div>
    </div>
  </div>
</section>
