<section class="section-sm mx-4 md:mx-20">
  <div class="flex flex-col md:flex-row items-center justify-center gap-10 md:gap-0">
    <img src="images/brands/brand1.svg" alt="Brand Logo"
      class="w-auto h-auto invert brightness-200 dark:invert-0 opacity-40" />
    <img src="images/brands/brand2.svg" alt="Brand Logo"
      class="w-auto h-auto invert brightness-200 dark:invert-0 opacity-40 md:border-l-2 md:px-6 md:border-gray-400" />
    <img src="images/brands/brand3.svg" alt="Brand Logo"
      class="w-auto h-auto invert brightness-100 dark:invert-0 opacity-40 md:border-l-2 md:px-6 md:border-gray-400" />
    <img src="images/brands/brand4.svg" alt="Brand Logo"
      class="w-auto h-auto invert brightness-200 dark:invert-0 opacity-40 md:border-l-2 md:px-6 md:border-gray-400" />
    <img src="images/brands/brand5.svg" alt="Brand Logo"
      class="w-auto h-auto invert brightness-200 dark:invert-0 opacity-40 md:border-l-2 md:px-6 md:border-gray-400" />
  </div>
</section>
