  <div>
      <div class="">
          <!-- FAQ Item 1 -->
          <div class="faq-item group border-b border-b-gray-300 dark:border-gray-700 pb-6">
            <!-- Question -->
            <button class="flex flex-col md:flex-row items-start md:items-center justify-between w-full gap-6 md:gap-10 cursor-pointer transition-all">
              <!-- Left Block: Step + Heading -->
              <div class="w-full md:w-[40%] text-start">
                <h4 class="text-[20px] bg-[#C4FC00] text-gray-800 px-6 py-2 max-w-[180px] inline-block transform skew-x-[-20deg] -rotate-6 shadow-md">
                  <span class="inline-block transform skew-x-[12deg]">Step 01</span>
                </h4>
                <h1 class="text-2xl md:text-[36px] font-normal mt-5 text-gray-800 dark:text-white">
                  Book a free meeting with our experts
                </h1>
              </div>

              <!-- Middle Text -->
              <div class="w-full md:w-[43%] text-gray-600 dark:text-gray-300 mt-2 md:mt-14 opacity-80 text-start">
                We begin by understanding your business challenges and objectives. Our team collaborates with you to identify areas where AI can make the most impact, ensuring tailored solutions for your needs.
              </div>

              <!-- Icon -->
              <div class="w-full md:w-[17%] flex md:justify-end mt-4 md:mt-0">
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </button>

            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[1000px] w-full transition-all duration-900 ease-in-out relative">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-1.avif" alt="FAQ Answer" />
              <div class="absolute bottom-0 md:left-16">
                <div class="flex flex-row items-center gap-2 mb-5">
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Recycle</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Climate</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Renewable Energy</div>
                </div>
                <img class="h-[80%] w-[90%]" src="images/faq/faq-1-1.avif" alt="faq" />
              </div>
              <div class="absolute top-[5%] left-[20%] md:left-auto md:top-auto md:bottom-6 md:right-6 bg-white text-black dark:text-black p-4 rounded-3xl shadow-lg max-w-[180px]">
                <p class="text-lg font-semibold text-gray-800">Results:</p>
                <p class="text-sm text-gray-500 mt-2 mb-4">Improvement saw in recycling rates</p>
                <p class="text-4xl text-gray-200 bg-[#70DB80] w-auto rounded-xl text-center mt-2 p-2">+<span class="counter" data-target="400">0</span>%</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item 2 -->
          <div class="faq-item group border-b border-b-gray-300 dark:border-gray-700 pb-6 mt-6">
            <!-- Question -->
            <button class="flex flex-col md:flex-row items-start md:items-center justify-between w-full gap-6 md:gap-10 cursor-pointer transition-all">
              <!-- Left Block: Step + Heading -->
              <div class="w-full md:w-[40%] text-start">
                <h4 class="text-[20px] bg-[#70DB80] text-gray-800 px-6 py-2 max-w-[180px] inline-block transform skew-x-[-20deg] rotate-6 shadow-md">
                  <span class="inline-block transform skew-x-[12deg]">Step 02</span>
                </h4>
                <h1 class="text-2xl md:text-[36px] font-normal mt-5 text-gray-800 dark:text-white">
                  Discover the opportunity together
                </h1>
              </div>

              <!-- Middle Text -->
              <div class="w-full md:w-[43%] text-gray-600 dark:text-gray-300 mt-2 md:mt-14 opacity-80 text-start">
                Choose from our range of cutting-edge products and services. Whether it’s predictive analytics, computer vision, or custom AI solutions, we help you find the perfect match for your goals.
              </div>

              <!-- Icon -->
              <div class="w-full md:w-[17%] flex md:justify-end mt-4 md:mt-0">
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </button>

            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[1000px] w-full transition-all duration-900 ease-in-out relative">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-2.avif" alt="FAQ Answer" />
              <div class="absolute bottom-0 md:left-16">
                <div class="flex flex-row items-center gap-2 mb-5">
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Automation</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Integration</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Optimization</div>
                </div>
                <img class="h-[80%] w-[90%]" src="images/faq/faq-2-2.avif" alt="faq" />
              </div>
              <div class="absolute top-[5%] left-[20%] md:left-auto md:top-auto md:bottom-6 md:right-6 bg-white text-black dark:text-black p-4 rounded-3xl shadow-lg max-w-[180px]">
                <p class="text-lg font-semibold text-gray-800">Results:</p>
                <p class="text-sm text-gray-500 mt-2 mb-4">Improvement saw in recycling rates</p>
                <p class="text-4xl text-gray-200 bg-[#70DB80] w-auto rounded-xl text-center mt-2 p-2">+<span class="counter" data-target="400">0</span>%</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item 3 -->
          <div class="faq-item group border-b border-b-gray-300 dark:border-gray-700 pb-6 mt-6">
            <!-- Question -->
            <button class="flex flex-col md:flex-row items-start md:items-center justify-between w-full gap-6 md:gap-10 cursor-pointer transition-all">
              <!-- Left Block: Step + Heading -->
              <div class="w-full md:w-[40%] text-start">
                <h4 class="text-[20px] bg-[#2E85FA] text-gray-800 px-6 py-2 max-w-[180px] inline-block transform skew-x-[-20deg] -rotate-6 shadow-md">
                  <span class="inline-block transform skew-x-[12deg]">Step 03</span>
                </h4>
                <h1 class="text-2xl md:text-[36px] font-normal mt-5 text-gray-800 dark:text-white">
                  Implement AI without disruptions to your workflow
                </h1>
              </div>

              <!-- Middle Text -->
              <div class="w-full md:w-[43%] text-gray-600 dark:text-gray-300 mt-2 md:mt-14 opacity-80 text-start">
                Our experts guide you through the integration process, ensuring that our AI solutions are seamlessly embedded into your existing systems with minimal downtime or disruption.
              </div>

              <!-- Icon -->
              <div class="w-full md:w-[17%] flex md:justify-end mt-4 md:mt-0">
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </button>

            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[1000px] w-full transition-all duration-900 ease-in-out relative">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-3.webp" alt="FAQ Answer" />
              <div class="absolute bottom-0 md:left-16">
                <div class="flex flex-row items-center gap-2 mb-5">
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Intelligence</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Productivity</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Efficiency</div>
                </div>
                <img class="h-[80%] w-[90%]" src="images/faq/faq-3-3.avif" alt="faq" />
              </div>
              <div class="absolute top-[5%] left-[20%] md:left-auto md:top-auto md:bottom-6 md:right-6 bg-white text-black dark:text-black p-4 rounded-3xl shadow-lg max-w-[180px]">
                <p class="text-lg font-semibold text-gray-800">Results:</p>
                <p class="text-sm text-gray-500 mt-2 mb-4">Improvement saw in recycling rates</p>
                <p class="text-4xl text-gray-200 bg-[#70DB80] w-auto rounded-xl text-center mt-2 p-2">+<span class="counter" data-target="400">0</span>%</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item 4 -->
          <div class="faq-item group border-b border-b-gray-300 dark:border-gray-700 pb-6 mt-6">
            <!-- Question -->
            <button class="flex flex-col md:flex-row items-start md:items-center justify-between w-full gap-6 md:gap-10 cursor-pointer transition-all">
              <!-- Left Block: Step + Heading -->
              <div class="w-full md:w-[40%] text-start">
                <h4 class="text-[20px] bg-[#FFE44B] text-gray-800 px-6 py-2 max-w-[180px] inline-block transform skew-x-[-20deg] rotate-6 shadow-md">
                  <span class="inline-block transform skew-x-[12deg]">Step 04</span>
                </h4>
                <h1 class="text-2xl md:text-[36px] font-normal mt-5 text-gray-800 dark:text-white">
                  Track your success and continuously improve
                </h1>
              </div>

              <!-- Middle Text -->
              <div class="w-full md:w-[43%] text-gray-600 dark:text-gray-300 mt-2 md:mt-14 opacity-80 text-start">
                Once implemented, we provide ongoing support and analytics to measure your success. Using data-driven insights, we help you fine-tune and expand your AI capabilities as your business grows.
              </div>

              <!-- Icon -->
              <div class="w-full md:w-[17%] flex md:justify-end mt-4 md:mt-0">
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </button>

            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[1000px] w-full transition-all duration-900 ease-in-out relative">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-4.webp" alt="FAQ Answer" />
              <div class="absolute bottom-0 md:left-16">
                <div class="flex flex-row items-center gap-2 mb-5">
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Scalability</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Continuity</div>
                  <div class="px-5 py-1 rounded-full bg-gray-100 text-gray-900">Adaptation</div>
                </div>
                <img class="h-[80%] w-[90%]" src="images/faq/faq-4-4.avif" alt="faq" />
              </div>
              <div class="absolute top-[5%] left-[20%] md:left-auto md:top-auto md:bottom-6 md:right-6 bg-white text-black dark:text-black p-4 rounded-3xl shadow-lg max-w-[180px]">
                <p class="text-lg font-semibold text-gray-800">Results:</p>
                <p class="text-sm text-gray-500 mt-2 mb-4">Improvement saw in recycling rates</p>
                <p class="text-4xl text-gray-200 bg-[#70DB80] w-auto rounded-xl text-center mt-2 p-2">+<span class="counter" data-target="400">0</span>%</p>
              </div>
            </div>
          </div>
      </div>
    </div>
