  <div>
      <div class="flex flex-col gap-[60px]">
          <!-- FAQ Item 1 -->
          <div class="faq-item group border-b border-border pb-[60px]">
            <!-- Question -->
            <div class="flex flex-col md:flex-row items-center justify-between cursor-pointer ">
             <div>
              <div class="flex flex-col gap-4 min-w-[1050px]">
             
                @@include('components/faq-shape.html', {
                "skewText": "Step 01",
                "skewRotate": "-rotate-[6deg]",
                "bg-color": "[#C4FC00]",
                })
                <div class="flex flex-row justify-between">
                  <h3 class="max-w-[445px] text-[36px] leading-[43px] font-medium">
                  Book a free meeting with our experts
                </h3>
                <p class="max-w-[534px]">We begin by understanding your business challenges and objectives. Our team collaborates with you to identify areas where AI can make the most impact, ensuring tailored solutions for your needs.</p>
                </div>
              </div>
             </div>
              <!-- Icon -->
              <div class="">
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </div>

            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[500px] w-full transition-all duration-900 ease-in-out relative cursor-pointer">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-1.avif" alt="FAQ Answer" />
              <div class="absolute -bottom-5 md:left-20 max-w-[468px]">
               <div class="flex flex-col gap-4">
                 <div class="flex flex-row gap-[10px] items-center">
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Recycle</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Climate</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Renewable Energy</div>
                </div>
                <img class="" src="images/faq/faq-1-1.avif" alt="faq" />
               </div>
              </div>
             <div class="absolute bottom-8 right-8 bg-text-light pt-[20px] pr-[20px] pb-[25px] pl-[20px] max-w-[190px] rounded-3xl">
              @@include('components/result-button.html')
              </div>
            </div>
          </div>
          <!-- FAQ Item 2 -->
          <div class="faq-item group border-b border-border pb-[60px]">
            <!-- Question -->
            <div class="flex flex-col md:flex-row items-center justify-between cursor-pointer ">
              <div>
                <div class="flex flex-col gap-4 min-w-[1050px]">
                  @@include('components/faq-shape.html', {
                    "skewText": "Step 02",
                    "skewRotate": "rotate-[6deg]",
                    "bg-color": "[#70DB80]",
                  })
                  <div class="flex flex-row justify-between">
                    <h3 class="max-w-[445px] text-[36px] leading-[43px] font-medium">
                      Automate your workflow with AI tools
                    </h3>
                    <p class="max-w-[534px]">
                      We help you integrate AI-powered automation into your daily operations, streamlining repetitive tasks and boosting productivity across your organization.
                    </p>
                  </div>
                </div>
              </div>
              <!-- Icon -->
              <div>
                <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
              </div>
            </div>
            <!-- Answer/Image -->
            <div class="overflow-hidden max-h-0 group-[.open]:max-h-[500px] w-full transition-all duration-900 ease-in-out relative cursor-pointer">
              <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-2.avif" alt="FAQ Answer" />
              <div class="absolute -bottom-5 md:left-20 max-w-[468px]">
                <div class="flex flex-col gap-4">
                  <div class="flex flex-row gap-[10px] items-center">
                    <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Automation</div>
                    <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Integration</div>
                    <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Optimization</div>
                  </div>
                  <img class="" src="images/faq/faq-2-2.avif" alt="faq" />
                </div>
              </div>
              <div class="absolute bottom-8 right-8 bg-text-light pt-[20px] pr-[20px] pb-[25px] pl-[20px] max-w-[190px] rounded-3xl">
                @@include('components/result-button.html')
              </div>
            </div>
          </div>

        <!-- FAQ Item 3 -->
        <div class="faq-item group border-b border-border pb-[60px]">
          <!-- Question -->
          <div class="flex flex-col md:flex-row items-center justify-between cursor-pointer ">
            <div>
              <div class="flex flex-col gap-4 min-w-[1050px]">
                @@include('components/faq-shape.html', {
                  "skewText": "Step 03",
                  "skewRotate": "-rotate-[6deg]",
                  "bg-color": "[#2E85FA]",
                })
                <div class="flex flex-row justify-between">
                  <h3 class="max-w-[445px] text-[36px] leading-[43px] font-medium">
                    Analyze and optimize with real-time data
                  </h3>
                  <p class="max-w-[534px]">
                    Our solutions provide actionable insights from your data, enabling you to make smarter decisions and continuously improve your business processes.
                  </p>
                </div>
              </div>
            </div>
            <!-- Icon -->
            <div>
              <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
            </div>
          </div>
          <!-- Answer/Image -->
          <div class="overflow-hidden max-h-0 group-[.open]:max-h-[500px] w-full transition-all duration-900 ease-in-out relative cursor-pointer">
            <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-3.webp" alt="FAQ Answer" />
            <div class="absolute -bottom-5 md:left-20 max-w-[468px]">
              <div class="flex flex-col gap-4">
                <div class="flex flex-row gap-[10px] items-center">
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Intelligence</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Productivity</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Efficiency</div>
                </div>
                <img class="" src="images/faq/faq-3-3.avif" alt="faq" />
              </div>
            </div>
            <div class="absolute bottom-8 right-8 bg-text-light pt-[20px] pr-[20px] pb-[25px] pl-[20px] max-w-[190px] rounded-3xl">
              @@include('components/result-button.html')
            </div>
          </div>
        </div>

        <!-- FAQ Item 4 -->
        <div class="faq-item group border-b border-border pb-[60px]">
          <!-- Question -->
          <div class="flex flex-col md:flex-row items-center justify-between cursor-pointer ">
            <div>
              <div class="flex flex-col gap-4 min-w-[1050px]">
                @@include('components/faq-shape.html', {
                  "skewText": "Step 04",
                  "skewRotate": "rotate-[6deg]",
                  "bg-color": "[#FDE44B]",
                })
                <div class="flex flex-row justify-between">
                  <h3 class="max-w-[445px] text-[36px] leading-[43px] font-medium">
                    Scale and evolve your AI strategy
                  </h3>
                  <p class="max-w-[534px]">
                    We support you in scaling your AI initiatives, adapting to new challenges, and ensuring your business stays ahead in a rapidly changing landscape.
                  </p>
                </div>
              </div>
            </div>
            <!-- Icon -->
            <div>
              <i class="fa fa-arrow-up text-[22px] bg-gray-800 text-white px-6 py-5 rounded-full rotate-180 group-[.open]:rotate-0 group-[.open]:bg-gray-100 group-[.open]:text-gray-900 dark:group-[.open]:bg-white dark:group-[.open]:text-gray-900 transform transition-all duration-900 ease-in-out"></i>
            </div>
          </div>
          <!-- Answer/Image -->
          <div class="overflow-hidden max-h-0 group-[.open]:max-h-[500px] w-full transition-all duration-900 ease-in-out relative cursor-pointer">
            <img class="w-full h-[500px] rounded-xl mt-4 shadow-lg transition-all duration-900 ease-in-out" src="images/faq/faq-4.webp" alt="FAQ Answer" />
            <div class="absolute -bottom-5 md:left-20 max-w-[468px]">
              <div class="flex flex-col gap-4">
                <div class="flex flex-row gap-[10px] items-center">
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Scalability</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Continuity</div>
                  <div class="px-4 py-1 rounded-full bg-text-light opacity-[1] leading-[27px] text-gray-900">Adaptation</div>
                </div>
                <img class="" src="images/faq/faq-4-4.avif" alt="faq" />
              </div>
            </div>
            <div class="absolute bottom-8 right-8 bg-text-light pt-[20px] pr-[20px] pb-[25px] pl-[20px] max-w-[190px] rounded-3xl">
              @@include('components/result-button.html')
            </div>
          </div>
        </div>
      </div>
    </div>
