<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <!-- Left side -->
      <div class="footer-left gap-[60px]">
        <div class="flex flex-col gap-4">
          <div class="footer-logo">
            <!-- Logo -->
            <img
              src="images/h-logo.svg"
              alt="themeplate"
              class="w-[328px] h-[82px] px-4"
            />
          </div>
          <p class="footer-text">
            AI-driven optimization tools allow teams to conserve energy without sacrificing productivity.
          </p>
        </div>

        <!-- Social icons -->
        <div class="social-icons">
          <a href="#"><img src="/images/footer/twitter.svg" alt="twitter" /></a>
          <a href="#"><img src="/images/footer/facebook.svg" alt="facebook" /></a>
          <a href="#"><img src="/images/footer/insta.svg" alt="insta" /></a>
          <a href="#"><img src="/images/footer/linkdln.svg" alt="linkdln" /></a>
        </div>
      </div>

      <!-- Right side -->
      <div class="footer-links">
        <div class="footer-links-section">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">404 Page</a></li>
          </ul>
        </div>
        <div class="footer-links-section">
          <h3>Support</h3>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Works</a></li>
          </ul>
        </div>
        <div class="footer-links-section gap-5 lg:max-w-[218px]">
          <h3 class="">Address</h3>
          <ul class="gap-[30px]">
            <li >
            <a class="hover:text-default">123 Innovation Drive, Tech City, CA 94016, USA</a>
          </li>
          <li class="hover:text-default">
            <a href="tel:+180055556" class="hover:text-default ">
              Phone:
              <span class="hover:underline">+1 (800) 555-56</span>
            </a>
          </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom">
      <p>Copyright © 2024 Optivus. All Rights Reserved.</p>
      <div class="footer-bottom-links">
        <a href="#" class="hover:text-white transition">Privacy Policy</a>
        <span class="text-sm leading-none opacity-50 bg-default w-[1px] h-2"></span>
        <a href="#" class="hover:text-white transition">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
