
<header class="header sticky top-0 z-30">
  <nav class="container flex items-center justify-between">
  <div class="flex flex-row items-center justify-between gap-10">
      <!-- logo -->
    <div class="order-0">
      <a class="navbar-brand block" href="index.html">
        <img
          src="images/logo.png"
          class="dark:hidden"
          width="180"
          height="21"
          alt="themeplate"
        />
        <img
          src="images/logo-darkmode.png"
          class="hidden dark:inline-block"
          width="180"
          height="21"
          alt="themeplate"
        />
      </a>
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
 <label
      for="nav-toggle"
      class="order-1 cursor-pointer flex items-center lg:hidden text-text-dark dark:text-white lg:order-1"
    >
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"
        ></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->
    <ul
      id="nav-menu"
      class="navbar-nav order-3 hidden lg:flex w-full pb-6 lg:order-1 lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-2"
    >
      <li class="relative nav-link rounded flex items-center gap-1 px-1 cursor-pointer group/allpages">
        <!-- Label acts as trigger -->
        <div class="flex items-center gap-1 px-2 cursor-pointer">
          All Pages
          <i
            class="fa fa-angle-up transition-transform duration-300 group-hover/allpages:rotate-180"
            aria-hidden="true"
          ></i>
        </div>

        <!-- Mega Menu -->
        <div
          class="absolute top-8 left-0 mt-1 z-40 invisible opacity-0 group-hover/allpages:visible group-hover/allpages:opacity-100 transition-all duration-300 w-[700px] rounded-xl bg-white dark:bg-[#1B212A] p-6 text-black dark:text-white shadow-lg"
        >
          <div class="grid grid-cols-4 gap-2">
            <!-- Links -->
            <div class="col-span-3 grid grid-cols-3 gap-4 text-sm">
              <ul class="space-y-2">
                <li><a href="#" class="hover:text-primary">Home</a></li>
                <li><a href="#">About Us v1</a></li>
                <li><a href="#">About Us v2</a></li>
                <li><a href="#">Pricing Plan v1</a></li>
                <li><a href="#">Pricing Plan v2</a></li>
              </ul>
              <ul class="space-y-2">
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Blog Details</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">How It Works</a></li>
              </ul>
              <ul class="space-y-2">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">404</a></li>
              </ul>
            </div>

            <!-- Image -->
            <div class="col-span-1">
              <img
                src="images/header.avif"
                alt="Preview"
                class="rounded-lg border border-gray-200 h-full w-full dark:border-gray-700"
              />
            </div>
          </div>
        </div>
      </li>
      <li class="nav-link  rounded flex items-center gap-1 px-1">
        <a href="pricing.html" class="px-2 py-1">Pricing</a>
      </li>
      <li class="nav-link rounded flex items-center gap-1 px-1">
        <a href="elements.html" class="px-2">Services</a>
      </li>
       <li class="nav-link rounded flex items-center gap-1 px-1">
        <a href="rashadul.html" class="px-2">Reviews</a>
      </li>
    </ul>
  </div>

    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      <a
        class="hidden bg-black dark:bg-white text-white dark:text-black py-3 px-5 rounded-[16px] lg:inline-block"
        href="contact.html"
      >
        Get The Template
      </a>
    </div>
  </nav>
</header>
