<!-- Industries Work Section started -->
<section class="section-sm lg:pb-[70px]">
  <div class="container flex flex-col gap-[64px]">
<div>
 @@include('components/left-section-header.html', {
    "title": "Industries we worked on",
    "subtitle": "Revolutionizing the Tech Landscape with AI-Driven Solutions That Power Innovation and Scale Beyond Limits.",
    "skewText": "Key Sectors",
    "bg-color": "bg-[#2E85FA]",
    "text-color": "text-[#fff]",
    "skewRotate": "-rotate-6"
    })
</div>
<div>
@@include('components/industries.html')
</div>
  </div>
</section>
<!-- Industries Work Section ended -->