<section class="section-sm">
  <div class="container">
    @@include('components/left-section-header.html', {
    "title": "Industries we worked on",
    "subtitle": "Revolutionizing the Tech Landscape with AI-Driven Solutions That Power Innovation and Scale Beyond Limits.",
    "skewText": "Key Sectors",
    "skewRotate": "rotate-6"
    })

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Card 1 -->
      <div class="rounded-3xl border border-gray-800 p-8 shadow-md bg-[#171D26]">
        <img src="images/health-care.svg" alt="Healthcare Icon">
        <h2 class="text-2xl mt-7 font-medium">Healthcare Industry</h2>
        <p class="text-[16px] max-w-sm mt-5 mx-auto">AI diagnostics, patient management, and predictive health analytics.</p>
      </div>

      <!-- Card 2 -->
      <div class="rounded-3xl border border-gray-800 p-8 shadow-md bg-[#171D26]">
        <img src="images/retail.svg" alt="Retail Icon">
        <h2 class="text-2xl mt-7 font-medium">Retail Business</h2>
        <p class="text-[16px] max-w-sm mt-5 mx-auto">Smart logistics, supply chain automation, and real-time inventory.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="rounded-3xl border border-gray-800 p-8 shadow-md bg-[#171D26]">
        <img src="images/education.svg" alt="Education Icon">
        <h2 class="text-2xl mt-7 font-medium">Education Industry</h2>
        <p class="text-[16px] max-w-sm mt-5 mx-auto">Personalized learning tools, adaptive assessments, and virtual tutoring.</p>
      </div>

      <!-- Card 4 -->
      <div class="rounded-3xl border border-gray-800 p-8 shadow-md bg-[#171D26]">
        <img src="images/finance.svg" alt="Finance Icon">
        <h2 class="text-2xl mt-7 font-medium">Finance Management</h2>
        <p class="text-[16px] max-w-sm mt-5 mx-auto">Renewable energy grids, emission monitoring, and sustainable resources.</p>
      </div>
    </div>
  </div>
</section>
