<section class="section-sm">
  <div class="container overflow-x-visible">
 @@include('components/left-section-header.html', {
    "title": "Trusted by 5900+ businesses",
    "subtitle": "Leveraging data-driven insights, we streamline resource distribution and support your path to a greener footprint.",
    "skewText": "Testimonials",
    "bg-color": "bg-[#2E85FA]",
    "text-color": "text-text-light",
    "skewRotate": "rotate-6"
    })
    <div class="flex flex-col lg:flex-row gap-10 mt-10">
     <!-- Testimonials Slider -->
      <div class="lg:w-[70%] w-full rounded-3xl h-full">
        <div class="swiper testimonial-slider h-full">
          <div class="swiper-wrapper h-full">
            <div class="swiper-slide rounded-3xl h-full">
              @@include('components/testimonial-card.html')
            </div>
          </div>
          <div class="testimonial-slider-pagination mt-6 flex items-center justify-center"></div>
        </div>
      </div>

      <!-- Facts & Numbers -->
      <div class="lg:w-[30%] w-full md:h-[350px] bg-[#C4FC00] p-8 rounded-3xl text-gray-900 flex flex-col justify-between">
        <h3 class="text-xl font-normal mb-2 text-gray-800">Facts and Numbers</h3>
        <div>
          <h1 class="text-[80px] font-normal mb-4 text-gray-800">7200+</h1>
          <p class="text-lg leading-relaxed opacity-80">Deployments in healthcare, retail, and finance industries.</p>
        </div>
      </div>
    </div>
  </div>
</section>
